.filter-container {
  position: relative;
}

.filter-container__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.filter-container__button svg {
  margin-left: 0.5rem;
  transition: transform 0.2s;
}