$bottle-width: 24px;
$border-width: 2px;
$border: $border-width solid #333;
$bottle-body-color: rgb(128, 99, 62);

$bottle-height: $bottle-width * 2.5;
$bottle-body-height: $bottle-width * 2;
$bottle-body-top-radius: $bottle-width / 2 - 5px; 
$neck-width: $bottle-width / 2.5;
$neck-height: $bottle-width / 3;
$cap-width: $neck-width * 1.25;
$cap-height: $neck-width;

.bottle {
  margin: 0;
  position: relative;
  width: $bottle-width;
  height: $bottle-height;

  &__body {
    width: $bottle-width;
    position: absolute;
    bottom: 0;
    left: calc(50% - #{$bottle-width / 2});
    height: $bottle-body-height;
    border: $border;
    border-top-left-radius: $bottle-body-top-radius;
    border-top-right-radius: $bottle-body-top-radius;
    border-bottom-left-radius: $bottle-width / 6;
    border-bottom-right-radius: $bottle-width / 6;
    background-color: $bottle-body-color;
  }

  &__neck {
    position: absolute;
    border: $border;
    width: $neck-width;
    height: $neck-height;
    border-bottom: none;
    left: calc(50% - #{($bottle-width / 2.5) / 2});
    bottom: $bottle-body-height - $border-width * 2;
    background-color: $bottle-body-color;
  }

  &__cap {
    position: absolute;
    border: $border;
    border-radius: $border-width * 2;
    width: $cap-width;
    height: $cap-height;
    left: calc(50% - #{$cap-width / 2});
    background-color: rgb(114, 51, 0);
    bottom: $bottle-body-height;
    z-index: 5;
  }

  &__sticker {
    position: absolute;
    bottom: calc(50% - #{$bottle-width / 2}); 
    left: calc(50% - #{$bottle-width / 2});
    z-index: 5;
    width: $bottle-width;
    height: $bottle-width;
    border: $border;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }

  &__label {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 120%;
    font-weight: 900;
    color: #000;
    line-height: $bottle-width;
    // vertical-align: middle;
    &_small {
      font-size: 100%;
      letter-spacing: -1px;
    }
  }
}

// @media (min-width: 380px) {
//   .beer-item__price {
//     transform: scale(1.2);
//   }
// }

// @media (min-width: 420px) {
//   .beer-item__price {
//     transform: scale(1.4);
//   }
// }