.filter-container-mobile {
  border-bottom: 1px solid #cccccc;
}

.filter-container-mobile__btn {
  width: 100%;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.filter-container-mobile__btn svg {
  transition: transform 0.2s;
}

.filter-container-mobile__name {
  padding-left: 1rem;
}

.filter-container-mobile__content {
  padding: 0rem 1rem;
}