
.filter-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  overflow: scroll;
  background-color: #ffffff;
}

.filter-popup_open {
  display: block;
}

.filter-popup__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow: scroll;
}

.filter-popup__confirm {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background-color: var(--confirm-bgcolor, #c5c5c5);
  color: var(--confirm-color, #000000);
  font-size: 1rem;
}