.filter-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  overflow: scroll;
  background-color: #ffffff;
}

.filter-popup_open {
  display: block;
}

.filter-popup__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow: scroll;
}

.filter-popup__confirm {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background-color: #c5c5c5;
  font-size: 1rem;
}

.filter-popup__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}

.filter-popup__title {
  margin: 0;
  font-size: 1.5rem;
}

.filter-popup__close {
  padding: 0;
  font-size: 2rem;
  background-color: transparent;
}

.filter-popup__clear-filter {
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  background-color: transparent;
}