.beer-item {
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Alegreya Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  flex: 0 1 394px;
  margin: 2px;

  &__main{
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-grow: 1;
  }

  &__image {
    flex: 0 0 30%;
  }

  &__information {
    flex: 0 0 70%;
    padding: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

  &__features {
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    display: flex;
  }

  &__feature-wrapper {
    flex: 0 0 33.33333%;
    text-align: center;
    padding: 0 5px;
  }

  &__feature {
    background-color: white;
    font-size: 2.25rem;
    border-radius: 5px;
    border: 1px solid black;

    &_og::after {
      content: 'OG';
    }
    &_abv::after {
      content: 'ABV';
    }
    &_ibu::after {
      content: 'IBU';
    }
    &::after {
      display: block;
      background-color: black;
      font-size: 1rem;
      color: white;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    &-value {
      padding-left: 1rem;
      line-height: 60px;
      vertical-align: middle;
      font-size: 4rem;
    }
  }

  &__style {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    background-color: #000;
  }
}

.beer-image {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  height: 100%;
  object-fit: cover;
}