
.beer__image {
  width: 200px;
}

.beer-image {
  width: 100%;
}

.beer {
  display: flex;
  flex-direction: row;
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
}

.page-title {
  font-size: 48px;
  text-align: center;
}